
        main h2{
            color: #333489; font-weight: bold; text-align: center;
        }
        .priority_name{
            color: #333489; 
            font-size:20px; 
            height:60px; 
            padding-top:25px; 
            font-weight: bold;
        }
        #progress {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: block;
            height: 35px;
            border-radius: 1rem;
            color: #005493;
        }
        #progress::-webkit-progress-bar {
            background-color: #005493;
            border-radius: 14px;
        }
        #progress::-webkit-progress-value {
            background-color:#b0bfff;
            border-radius: 14px;
        }
        
        .left_box{
            padding:0.5rem; 
            border-radius: 4rem !important; 
            background-color:#717DCB;
            margin-left:70px;
            float:left; width:650px; height:450px;
        }

        .left_box button{
            border-width: 1px;
            border-radius: 0.5rem;
             color : black;
             font-weight: bold;
             font-style: italic;
             width: 130px;
             height: 45px;
             background-color: white;
             opacity: 0.75;
            }

        .danger{
            width:650px; 
            height: 65px;
        }

        .name{
            width:200px;
            color: #333489;
            font-size: 25px;
            font-weight:bold; 
            margin-left:20px; 
            margin-right:20px;
            float: left;
            padding-top:25px;
            text-align: center;
        }
        .score{
            color: black; 
            border-radius: 10px;
            font-size: 25px;
            font-weight: bold;
            width: 60px; 
            height:40px;
            float: right;
            margin-top:20px; 
            margin-right:70px;
            text-align: center; 
            opacity: 0.75;
        }
        .progress_box{
            width: 250px; float: left;
        }

        #progress_box a {margin-right:14px;}
        
        hr {
            border: none;
            border-top: 5px dashed;
            border-color: black;
            width: 100%;
        }


        .right_box{
            padding:0.5rem; 
            border-radius: 4rem !important; 
            background-color: #97A7FE;
            margin-right: 70px;
            float:right; 
            width:450px; 
            height:450px; 
        }

        .right_box button {
           border-width: 1px;
           border-radius: 0.5rem;
            color : black;
            font-weight: bold;
            font-style: italic;
            width: 100px;
            height: 40px;
            margin-left:60px;
            margin-top: 15px;
            background-color: white;
            opacity: 0.5;
        }

        .user_priority{
            opacity: 0.75;
            padding:0.5rem; 
            border-radius:3rem !important; 
            background-color: white;
            width: 80%;
            height: 80%;
            margin-top: 15px;
            margin-left: 50px;
            color: #333489;  
        }

        .my
        {
            font-size:25px; 
            font-weight: bold;
            text-align: center;
            margin-bottom: 0.5px;
        }

        .priority{
            text-align: center; 
            margin-top:50px;
            font-size: 20px;
            font-weight: bold;
        }

        .priority div {
            margin-bottom: 10px;
        }

        
        

        