<!DOCTYPE html>
<html>
<head>
	<meta charset="EUC-KR">
	<title>Watch Out!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx79d570bd9bf74163a98c47d00783f59f"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
	<script src="./static/js/firebase.js" type="text/javascript"></script>
    <script src="./static/js/servey.js" type="text/javascript"></script>
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<link href="./static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="./static/css/carousel.css" rel="stylesheet">
    <link href="./static/css/assess.css" rel="stylesheet">

</head>
<body style="background: #b0bfff; padding-bottom: 1rem;">
    <script type = "text/javascript">
        const url = window.location.href;
        const urlStr = new URL(url);
        const urlParam = urlStr.searchParams;
        const num = urlParam.get('num');
        
        getHistoryObjectForAssess(num);
      </script>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container-fluid">
                <a style="margin-left:5px; margin-right:20px;">
                    <img src= "./static/image/logo.png" height="60px" width="90px">
                </a>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0" style ="height:45px; font-size: 20px; font-weight: bold; margin-top:15px; padding-left:10px; padding-right:10px;">
                  <li class="nav-item" style="padding-left:10px; font-size: 17px;">
                    <a class="nav-link active" aria-current="page" href="/bootmap">Team</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active">App</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active">Web</a>
                  </li>
                  <li class="nav-item" style="padding-left:400px;font-size: 17px;">
                    <a class="nav-link active"  href="/watchnow">WatchNow</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active" href="/history">History</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active" href="/analysis">Analysis</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active" href="/favorites">Favorite</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style="margin-left:10px;">ㅣ</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active" href="/settings">Settings</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <main>
        <div style="height:40px;"></div>
        <div class="section" id="section">
            <input type="radio" name="slide" id="slide1" checked>
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">
            <input type="radio" name="slide" id="slide5">
            <input type="radio" name="slide" id="slide6">
            <input type="radio" name="slide" id="slide7">
            <input type="radio" name="slide" id="slide8">
            <input type="radio" name="slide" id="slide9">
            <input type="radio" name="slide" id="slide10">

            <div class="slidewrap">
                <ui class="slidelist" id ="slidelist"style="background-color: white; border-radius:1rem;">
                    <li> 
                        <div class="select" style="text-align: center;">
                            <div style="color:#333489; font-size:40px; font-weight: bold;">평가하기</div>
                            <span class="question">Q1. 이용하신 경로에 대해 얼마나 만족하십니까?</span>
                            <div class="answer">
                                <input type="radio" name= "ans" id="select1"><label for="select1" onclick="showBtn(1)">1</label>
                                <input type="radio" name= "ans" id="select2"><label for="select2" onclick="showBtn(2)">2</label>
                                <input type="radio" name= "ans" id="select3"><label for="select3" onclick="showBtn(3)">3</label>
                                <input type="radio" name= "ans" id="select4"><label for="select4" onclick="showBtn(4)">4</label>
                                <input type="radio" name= "ans" id="select5"><label for="select5" onclick="showBtn(5)">5</label>
                                <input type="radio" name= "ans" id="select6"><label for="select6" onclick="showBtn(6)">6</label>
                                <input type="radio" name= "ans" id="select7"><label for="select7" onclick="showBtn(7)">7</label>
                                <input type="radio" name= "ans" id="select8"><label for="select8" onclick="showBtn(8)">8</label>
                                <input type="radio" name= "ans" id="select9"><label for="select9" onclick="showBtn(9)">9</label>
                                <input type="radio" name= "ans" id="select10"><label for="select10" onclick="showBtn(10)">10</label>
                            </div>
                            <script>
                                function showBtn(num){
                                    if (num > 5) {
                                        document.getElementById("update").style.display = "";
                                        document.getElementById("right").style.display = "none";
                                    }
                                    else {
                                        document.getElementById("right").style.display = "";
                                        document.getElementById("update").style.display = "none";
                                    }
                                }
                            </script>

                            <label for="slide2" id="right" class="right" style="display: none;"></label>
                            <button class="btn" id="update" style="display: none;">완료</button>
                        </div>
                    </li>
                    <li> 
                        <div class="select" style="text-align: center;">
                            <div style="color:#333489; font-size:40px; font-weight: bold;">평가하기</div>
                            <span class="question">Q2. 이용하신 경로의 분기점 갯수는 만족하십니까?</span>
                            <label for="slide1" class="left"></label>
                            <div class="answers">
                                <input type="radio" name="anss2" id="select11"><label for="select11">많음</label>
                                <input type="radio" name="anss2" id="select12"><label for="select12">적정</label>
                                <input type="radio" name="anss2" id="select13"><label for="select13">적음</label>
                            </div>

                            <label for="slide3" class="right"></label>
                        </div>
                    </li>
                </ui>
            </div>
        </div>
    </main>
</body>