<!DOCTYPE html>
<html>
<head>
	<meta charset="EUC-KR">
	<title>Watch Out!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx79d570bd9bf74163a98c47d00783f59f"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
	<script src="./static/js/firebase.js" type="text/javascript"></script>
    <script src="./static/js/showList.js" type="text/javascript"></script>
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<link href="./static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

	<style>

        #progress {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: block;
            width: 300px;
            height: 35px;
            border-radius: 1rem;
            color: #005493;
        }
        #progress::-webkit-progress-bar {
            background-color: #005493;
            border-radius: 14px;
        }
        #progress::-webkit-progress-value {
            background-color:#b0bfff;
            border-radius: 14px;
        }


        hr {
            border: none;
            border-top: 5px dashed;
            border-color: black;
            width: 100%;
        }


	</style>
	<link href="./static/css/carousel.css" rel="stylesheet">
</head>
<body style="background: #b0bfff;">
	
	<header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container-fluid">
                <a style="margin-left:5px; margin-right:20px;">
                    <img src= "./static/image/logo.png" height="60px" width="90px">
                </a>
              <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> -->
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0" style ="height:45px; font-size: 20px; font-weight: bold; margin-top:14px; padding-left:14px; padding-right:14px;">
                  <li class="nav-item" style="padding-left:14px; font-size: 17px;">
                    <a class="nav-link active" aria-current="page" href="/bootmap">Team</a>
                  </li>
                  <li class="nav-item" style="padding-left:14px;font-size: 17px;">
                    <a class="nav-link active sty">App</a>
                  </li>
                  <li class="nav-item" style="padding-left:14px;font-size: 17px;">
                    <a class="nav-link active">Web</a>
                  </li>
                  <li class="nav-item" style="padding-left:400px;font-size: 17px;">
                    <a class="nav-link active"  href="/watchnow">WatchNow</a>
                  </li>
                  <li class="nav-item" style="padding-left:14px;font-size: 17px;">
                    <a class="nav-link active" href="/history">History</a>
                  </li>
                  <li class="nav-item" style="padding-left:14px;font-size: 17px;">
                    <a class="nav-link active" href="/analysis">Analysis</a>
                  </li>
                  <li class="nav-item" style="padding-left:14px;font-size: 17px;">
                    <a class="nav-link active" href="/favorites">Favorite</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style="margin-left:14px;">ㅣ</a>
                  </li>
                  <li class="nav-item" style="padding-left:14px;font-size: 17px;">
                    <a class="nav-link" style="color: #5A78AF;" href="/settings">Settings</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
	</header>
    <main>
        <div style="height:60px"></div>
        <main>
            <div class="row align-items-md-stretch" style="float:left; width:650px; height:450px; margin-left:2.5rem;">
            <div style="padding:0.5rem; border-radius: 4rem !important; background-color:#717DCB;" >
                <h2 style="color: #333489; font-weight: bold; text-align: center;">우선순위 Setting</h2>
                <div style="color: #333489;margin-left:60px; float:left; font-size:20px; height:60px; padding-top:25px; font-weight: bold;">
                    도로 상태
                </div>
                <div style="color: #333489; margin-right:60px;float:right; font-size:20px; height:60px; padding-top:25px; font-weight: bold;">
                    위험 시설
                </div>
                 <div style="width: 300px; margin:auto;" >
                    <a style="float: left; margin-right: 19px;">0</a>
                    <a style="margin-right:14px;">1</a>
                    <a style="margin-right:14px;">2</a>
                    <a style="margin-right:14px;">3</a>
                    <a style="margin-right:14px;">4</a>
                    <a style="margin-right:14px;">5</a>
                    <a style="margin-right:14px;">6</a>
                    <a style="margin-right:14px;">7</a>
                    <a style="margin-right:14px;">8</a>
                    <a style="margin-right:14px;">9</a>
                    <a style="float: right;">10</a>
                    <progress id ="progress" class="priorityTag" value="50" max="100">
                        <div>90</div>
                    </progress>
                  </div>
                <hr>
                <a style="float: left;">0</a>
                <a style="margin-left: 80px; margin-right: 60px;">50</a>
                <a style="float: right;">100</a>
            <progress id ="progress" class="progressTag" value="22" max="100"></progress>
            </div>
            </div>
            <div class="row align-items-md-stretch" style="float:right; width:514px; height:450px; margin-right:2.5rem;">
                <div style="padding:0.5rem; border-radius: 4rem !important; background-color: #97A7FE;">
                
                </div>
            </div>
	</main>
</body>
</html>
<script type = "text/javascript">               
    function tag (tagName) {
        let progress = document.querySelector(tagName);
        let interval = 1;
        let updatesPerSecond = 1000 / 60;
        let state = 0;
        let max = progress.value;

            function animator () {
                state = state + interval;
                progress.value = state;
                if ( progress.value + interval < max+1){
                    setTimeout(animator, updatesPerSecond);
                } else { 
                    progress.value = max;
                    }
                }
            setTimeout(() => {
                animator();
                    }, updatesPerSecond);
        }   

        tag(".priorityTag");
    </script>