<!DOCTYPE html>
<html>
<head>
	<meta charset="EUC-KR">
	<title>Watch Out!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx79d570bd9bf74163a98c47d00783f59f"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
	<script src="./static/js/firebase.js" type="text/javascript"></script>
  <script src="./static/js/progressBar.js" type="text/javascript"></script>
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<link href="./static/css/bootstrap.css" rel="stylesheet">
  <link href="./static/css/carousel.css" rel="stylesheet">
  <link href="./static/css/settings.css" rel="stylesheet">
</head>
<script>getWeightFromFirebaseForSettings();</script>
<body style="background: #b0bfff;">
	<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">
            <a style="margin-left:5px; margin-right:20px;" href="/menupage">
                <img src= "./static/image/logo.png" height="60px" width="90px" >
            </a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0" style ="height:45px; font-size: 20px; font-weight: bold; margin-top:15px; padding-left:10px; padding-right:10px;">
              <li class="nav-item" style="padding-left:10px; font-size: 17px;">
                <a class="nav-link active"  href="/teamInfo">Team</a>
              </li>
              <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                <a class="nav-link active" href="/appInfo">App</a>
              </li>
              <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                <a class="nav-link active" href="/webInfo">Web</a>
              </li>
              <li class="nav-item" style="padding-left:400px;font-size: 17px;">
                <a class="nav-link active"  href="/watchnow">WatchNow</a>
              </li>
              <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                <a class="nav-link active"href="/history">History</a>
              </li>
              <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                <a class="nav-link active" href="/analysis">Analysis</a>
              </li>
              <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                <a class="nav-link active" href="/favorites">Favorite</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" style="margin-left:10px;">ㅣ</a>
              </li>
              <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                <a class="nav-link " style="color: #5A78AF;"href="/settings">Settings</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
</header>
    <main>
        <div style="height:40px"></div>
        <main>
            <div class="left_box">
                <h2>우선순위 Setting</h2>
                <div class = "priority_name" style="margin-left:60px; float:left;">
                    도로 상태
                </div>
                <div class = "priority_name" style="margin-right:60px;float:right;">
                    위험 시설
                </div>
                 <div id ="progress_box" style="width: 300px; margin:auto;" >
                    <p style="float: left; margin-right: 19px;" onclick="updateProgressBar('.priorityTag' ,0);">0</p>
                    <a onclick="updateProgressBar('.priorityTag' ,10);">1</a>
                    <a onclick="updateProgressBar('.priorityTag' ,20);">2</a>
                    <a onclick="updateProgressBar('.priorityTag' ,30);">3</a>
                    <a onclick="updateProgressBar('.priorityTag' ,40);">4</a>
                    <a onclick="updateProgressBar('.priorityTag' ,50);">5</a>
                    <a onclick="updateProgressBar('.priorityTag' ,60);">6</a>
                    <a onclick="updateProgressBar('.priorityTag' ,70);">7</a>
                    <a onclick="updateProgressBar('.priorityTag' ,80);">8</a>
                    <a onclick="updateProgressBar('.priorityTag' ,90);">9</a>
                    <p style="float: right;" onclick="updateProgressBar('.priorityTag' ,100);">10</p>
                    <progress id ="progress" class="priorityTag" value="0" max="100" style="width: 300px;">
                    </progress>
                  </div>
                <hr>
                <div class = "danger">
                    <div class ="name">횡단보도</div>
                    <input type="text" maxlength="3" id = "cross" class="score" value = "0" onchange="changePriorityScore(this)">
                    <div class = "progress_box">
                        <a style="float: left;">0</a>
                        <a style="margin-left: 105px; margin-right: 60px;">50</a>
                        <a style="float: right;">100</a>
                        <progress id ="progress" class="cross" value="0" max="100" style="width: 250px;"></progress>
                      </div>
                </div>
                <div class = "danger">
                    <div class ="name">분기점</div>
                    <input type="text" maxlength="3" id = "turn" class="score" value = "0" onchange="changePriorityScore(this)">
                    <div class = "progress_box">
                        <a style="float: left;">0</a>
                        <a style="margin-left: 105px; margin-right: 60px;">50</a>
                        <a style="float: right;">100</a>
                        <progress id ="progress" class="turn" value="0" max="100" style="width: 250px;"></progress>
                    </div>
                </div>
                <div class = "danger">
                        <div class ="name">차도 분리시설</div>
                        <input type="text" maxlength="3" id = "noCar" class="score" value = "0" onchange="changePriorityScore(this)">
                        <div class = "progress_box">
                            <a style="float: left;">0</a>
                            <a style="margin-left: 105px; margin-right: 60px;">50</a>
                            <a style="float: right;">100</a>
                            <progress id ="progress" class="noCar" value="0" max="100" style="width: 250px;"></progress>
                        </div>
                </div>
                <div class = "danger">
                    <div class ="name">차도 비분리시설</div>
                    <input type="text" maxlength="3" id = "withCar" class="score" value = "0" onchange="changePriorityScore(this)">
                    <div class = "progress_box">
                        <a style="float: left;">0</a>
                        <a style="margin-left: 105px; margin-right: 60px;">50</a>
                        <a style="float: right;">100</a>
                        <progress id ="progress" class="withCar" value="0" max="100" style="width: 250px;"></progress>
                    </div>
                </div>
                <div style="text-align: center; margin-top: 15px;">
                    <button class="btn btn-outline-secondary" type="button" onclick = "reset();" style="margin-right: 100px;">초기화</button>
                    <button class="btn btn-outline-secondary" type="button" onclick="apply();">적용하기</button>
                </div>
            </div>
            <div class="right_box">
                    <button class="btn btn-outline-secondary" type="button" onclick="location.href = 'innerpages/settingshelp';">Help</button>
                    <div class = "user_priority">
                        <p class="my">현재 나의 우선순위</p>
                        <div id ="progress_box" style="width: 300px; margin:auto;" >
                            <p style="float: left; margin-right: 19px;">0</p>
                            <a>1</a>
                            <a>2</a>
                            <a>3</a>
                            <a>4</a>
                            <a>5</a>
                            <a>6</a>
                            <a>7</a>
                            <a>8</a>
                            <a>9</a>
                            <p style="float: right;">10</p>
                            <progress id ="progress" class="currentTag" value="0" max="100" style="width: 300px;"></progress>
                            <div><a style="float: left;">도로상태</a> <a style="float: right;">위험시설</a></div>
                            <div id = "priority" class = "priority">
                            </div>
                        </div>
                    </div>    
            </div>
	</main>
</body>
<script>
  function apply(){
    var road = document.querySelector(".priorityTag").value;
    var cross = Number(document.getElementById("cross").value);
    var withCar = Number(document.getElementById("withCar").value);
    var noCar = Number(document.getElementById("noCar").value);
    var turn = Number(document.getElementById("turn").value);

    setDangerWeightToFirestore(road,turn,cross,noCar,withCar);
    resetAllProgressBar();
  }

  function reset(){
    //분기점:30, 횡단보도:60, nocar:80, withcar:100
    setDangerWeightToFirestore(150,30,60,80,100);
    resetAllProgressBar();
  }

  function resetAllProgressBar(){
    resetProgressBar("priorityTag");
    resetProgressBar("cross");
    resetProgressBar("turn");
    resetProgressBar("noCar");
    resetProgressBar("withCar");
  }
</script>
</html>
