<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teamInfo 🍒</title>
    <link rel = "stylesheet" href = "./static/css/main.css">
    <link rel = "stylesheet" href = "./static/css/scroll.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
        body{
            background-color: #002C64;
            font-family: 'Roboto Slab', serif;
        }
    </style>
</head>
<body>

<div id="container">





  <header id = "header"> 
    <nav class ="menu">
        <a href = "/menupage"> <img src= "./static/image/introduce/iconEye.png"></a>

        <ul>
            <li><a href = "/teamInfo" style="color: #5A78AF" <b>Team</b></a></li>
            <li><a href = "/appInfo" <b>App</b></a></li>
            <li><a href = "/webInfo" <b>Web</b></a></li>
            <li><a href = " " <b> | </b></a></li>
            <li><a href = "/watchnow"  <b> WatchNow</b></a></li>
            <li><a href = "/history" <b>History</b></a></li>
            <li><a href = "/analysis" <b>Analysis</b></a></li>
            <li><a href = "/favorites" <b>Favorites</b></a></li>

            <li><a href = " " <b> | </b></a></li>
            <li><a href = "/settings" <b>Settings</b></a></li>
        
        </ul>
    </nav>
</header> 






  <div class="list">
      <div class="one">
        <span class="profile"><img src="./static/image/introduce/icon.png" width="440px;" height="440px" alt=""/></span> 
        <h3><strong>Team 흰지팡이</strong> <br>한성대학교 컴퓨터공학부</h3>
      </div>
  </div>

  <div class="list">
      <div class ="two">
        <h1><br> 👀 👀 👀</h1>
          <h3 class ="intext"> 
            세계 시각장애인 협회는 흰 지팡이를 시각장애인의 자립과 성취를 나타내는 상징으로 공인하였습니다. <br>
            흰 지팡이와 같이 시각장애인이 길을 찾고 활동하는데 그들의 눈이 되고자 하는 사람들이 팀 흰 지팡이를 결성하였습니다. <br> <br>


            팀 흰 지팡이의 첫번째 프로젝트 WatchOut!은, <br>
            음성/진동 표현만으로 길을 안내하는 시각장애인용 웨어러블형 길안내 어플과 <br>
            보호자 대상 실시간 모니터링 웹 서비스를 제공합니다. <br><br>

            프로젝트 명 WatchOut!은 말 그대로 조심하라는 뜻과,<br> 
            우리 "와치"와 함께 "밖을 나간다" 라는 두가지의 뜻을 갖습니다. <br>
            WatchOut!이 그들의 눈이 되어 함께 나갈때, <br> 
            시각장애인이 타인의 도움을 받지 않고 스스로 목적지를 찾으며 그들의 삶의 질이 향상되기를 바랍니다. <br>
            <br><br>

            다수에게 당연한 사회 장치들이 소수의 사람에게는 결코 넘을 수 없는 문턱 이 될 수 있습니다. <br>
            대부분의 사람들이 ‘당연하게’ 사용할 수 있게 하는게 아니라 소수의 사람도 ‘반드시’ 사용할 수 있도록 만들겠다는 사회적 합의가 필요합니다. <br>
            우리 모두는 잠재적 장애인이라는 사실을 잊지 않고, 평등하고 배려가 깃든 사회를 위해 노력하는 세상이 되었으면 좋겠습니다. <br>
<br>
            <strong>For an equal society in the future!</strong><br><br></h3>
      </div>
  </div>
  
  <div class="list">
      <div class="three">
          <h1> 👀 👀 👀<br>
          <strong>Developer</strong></h1>
          <div class = "favorites">

              <div class="lists">
                  <img class = "list_img" src="./static/image/introduce/person/sim3.png" alt="">
                  <p class = "list_text"> 임슬아</p>
              </div>

              <div class="lists">
                  <img class = "list_img" src="./static/image/introduce/person/sim2.png" alt="">
                  <p class = "list_text"> 이한별</p>
              </div>

              <div class="lists">
                  <img class = "list_img" src="./static/image/introduce/person/sim.png" alt="">
                  <p class = "list_text"> 서영신</p>
              </div>
          </div>
      </div>
  </div>

  <div class="list">
      <div class = "four">
          <img class = "contact_img" src ="./static/image/introduce/bg.jpg">
          <a href="https://velog.io/@subtitle1" class="ct">Velog</a>
          <a href="mailto:stella.kim.96211@gmail.com" class="ct">Gmail</a>
          <a href="https://github.com/subtitle1" class="ct">Github</a>
      </div>
  </div>
<div>
</body>
