<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebInfo 🍒</title>
    <link href="./static/css/main.css" rel="stylesheet" crossorigin="anonymous">
    <link href="./static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    </style>

<style>
    body{
        background-color: #002C64;
        font-family: 'Roboto Slab', serif;
    }
    div{
          width: 100%;
          height: auto;
          border: 0px solid #003458;

          margin-right: 150px;
          
    }
    div.web{
        padding-top: 150px;
    }
</style>
    


</head>
<body>
    <header id = "header"> 
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container-fluid">
                <a style="margin-left:5px; margin-right:20px;">
                    <img src= "./static/image/logo.png" height="60px" width="90px">
                </a>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0" style ="height:45px; font-size: 20px; font-weight: bold; margin-top:15px; padding-left:10px; padding-right:10px;">
                  <li class="nav-item" style="padding-left:10px; font-size: 17px;">
                    <a class="nav-link active"  href="/teamInfo">Team</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active" href="/appInfo">App</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link" style="color: #5A78AF;" href="/webInfo">Web</a>
                  </li>
                  <li class="nav-item" style="padding-left:400px;font-size: 17px;">
                    <a class="nav-link active"  href="/watchnow">WatchNow</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active"  href="/history">History</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active" href="/analysis">Analysis</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active" href="/favorites">Favorite</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style="margin-left:10px;">ㅣ</a>
                  </li>
                  <li class="nav-item" style="padding-left:10px;font-size: 17px;">
                    <a class="nav-link active" href="/settings">Settings</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header> 

    <div class = "web">
        <img src="./static/image/introduce/aboutWatchOut/a3.png" style="display: block; margin: 0 auto; width:900px; ">
    </div>


</body>
</html>