<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>team 🍒</title>
    <link rel = "stylesheet" href = "./css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    </style>

<style>
    body{
        background-color: #002C64;
        font-family: 'Roboto Slab', serif;
    }
    div{
          width: 100%;
          height: auto;
          border: 0px solid #003458;

          margin-right: 150px;
          
    }
    div.web{
        padding-top: 150px;
    }
</style>
    


</head>
<body>

    <header id = "header"> 
        <nav class ="menu">
            <a href = "menuPage.html"> <img src= "./imgs/iconEye.png"></a>

            <ul>
                <li><a href = " " <b>WatchNow</b></a></li>
                <li><a href = " " <b>History</b></a></li>
                <li><a href = " " <b>Analysis</b></a></li>
                <li><a href = " " <b>Favorites</b></a></li>

                <li><a href = " " <b> | </b></a></li>
                <li><a href = " " <b>Settings</b></a></li>
            

            </ul>
        </nav>
    </header> 

    <div class = "web">
        <img src="./imgs/aboutWatchOut/a3.png" style="display: block; margin: 0 auto; width:1000px; ">
    </div>


</body>
</html>